<nav>
    <div class="nav-wrapper blue darken-2">
      <%= link_to 'Scribble', root_path, :class => "center brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= posts_path %>"><i class="mdi-action-perm-identity"></i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="<%= posts_path %>"><i class="mdi-action-perm-identity"></i></a></li>
      </ul>
    </div>
  </nav>
