body {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 18px;
  color: #333399;
  background-color: #F5F8FA;
}
.title {
  font-size: 50px;
}
.container {
  width: 50%;
  margin: 0 auto;
}

.msg {
  text-align: center
}

header {
  margin-bottom: 2em;
}

h1 {
  text-align: center;
}

h1 a {
  color: #333399;
  text-decoration: none;
  font-size: 75px;
}

nav {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.new-post {
  display: inline-block;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  background-color: #333399;
  color: white;
}

.post {
  margin-bottom: 3em;
  border: 5px white solid;
  border-radius: 10px;
  padding: 1em;
}

.post-header, .post-edit-delete {
  display: block;
}

.post-header {
  margin-bottom: 1em;
}

.post-header > span {
  display: block;
}

.post-header span:nth-child(2) {
  font-size: 15px;
}

.post-posted-by {
  font-weight: 100;
  color: black;
}

.post-photo {
  width: 100%;
  border-radius: 10px;
}

.post-edit-delete {
  margin-bottom: 1em;
}

.post-edit-delete a {
  float: left;
  display: inline-block;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  line-height: 20px;
  color: white;
  margin-right: 2px;
  background-color: #333399;
}

.post-edit-delete button {
  float: right;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", Helvetica, sans-serif
  font-size: 2em;
  line-height: 20px;
  color: white;
  background-color: #333399;
}
.content {
  color: black;
}
.commentbox {

}
